<p><strong>Director:</strong><br>
Dustin Kidd<br>
218 Gladfelter Hall<br>
<a href="mailto:dkidd@temple.edu">dkidd@temple.edu</a></p>
<hr>
<p><strong>Senior Associate Director:</strong><br>
Douglas Greenfield<br>
219 Anderson Hall<br>
<a href="tel:2156296773">(215) 629-6773</a><br>
<a href="mailto:dgreenfield@temple.edu">dgreenfield@temple.edu</a></p>
<hr>
<p><strong>Associate Director:</strong><br>
Sheryl Sawin<br>
516 Anderson Hall<br>
<a href="mailto:sheryl.sawin@temple.edu">sheryl.sawin@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Emily Carlin<br>
214 Anderson Hall<br>
<a href="tel:2152043177">(215) 204-3177</a><br>
<a href="mailto:ecarlin@temple.edu">ecarlin@temple.edu</a></p>
<hr>
<p><strong>ESL Coordinator:</strong><br>
Jessie Iwata<br>
215B Anderson Hall<br>
<a href="mailto:jiwata@temple.edu">jiwata@temple.edu</a></p>
<hr>
<p><strong>Study Abroad Coordinator:</strong><br>
Naomi Taback<br>
213B Anderson Hall<br>
<a href="mailto:naomi.taback@temple.edu">naomi.taback@temple.edu</a></p>
